@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* select option {
  background: #e9ebff !important;
  border: 2px solid red;
} */

@layer base {
  input:not(:focus) {
    border: 1px solid rgba(24, 24, 24, 0.25) !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}
